@import url(//db.onlinewebfonts.com/c/5afcc6e055927a510d82c2ced10c01c9?family=Wide+Latin);


/*  GENERAL CSS */

body {
  font-family: "Arial Black", Gadget, sans-serif;
  background-color: #AFEEEE;
}

hr {
  opacity: 0.4;
  width: 30%;
  border-style: dotted;
  color: blue;
  border-width: thick;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.hr-section-break {
  padding-top: 60px;
}

h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 2em;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.3;
}


/*  NAV CSS  */

.nav-link {
  color: #958adb !important;
  font-size: 1.2rem;
}



/*  TITLE SECTION CSS  */

#title-section {
  background-color: #AFEEEE;
  text-align: center;
}

#title-section h1 {
  color: #6A5ACD;
}

#title-section h2 {
  color: #958ADB;
}

#title-section .container-fluid {
  padding: 6% 7% 5%;
}

.head-image {
  border-style: solid;
  border-width: thick;
  border-color: #6A5ACD;
  border-radius: 25%;
  margin-top: 30px;
}

.logo {
  font-family: "Wide Latin";
  font-size: 1.5em;
}

.tin {
  color: blue;
}

.cat {
  color: red;
}



/*  VIDEO CSS  */
#vids {
  position: relative;
  background-color: #FFDAB9;
  text-align: center;
  padding: 2% 15% 2%;
}


.vids-img {
  max-width: 70%;
  position: absolute;
  right: 15%;
  top: -30%;
}



/*  SLIDESHOW CSS  */

#slideshow {
  background-color: #FFDAB9;
  text-align: center;
  position: relative;
  padding: 0 15% 5%;
}

#slideshow .container-fluid {
  width: 80%;
}

#slideshow h2 {
  text-align: left;
  margin-left: 14%;
}

#slideshow em {
  font-size: 1.3em;
  text-align: left;
  position: relative;
  top: 30%;
}

.slideshow-img {
  margin-left: 120px;
  border-radius: 25px;
}



/*  PRICING CSS  */

#pricing {
  text-align: center;
  padding: 7% 15%;
}

.card p {
  font-size: 0.8rem;
}

.card-body-220 {
  height: 220px;
}

.card-footer-white {
  background-color: #FFFFFF;
  border-top: none;
}


/*  CTA CSS  */

#cta {
  text-align: center;
}


/*  FOOTER CSS  */

#footer {
  text-align: center;
  font-weight: lighter;
}



/*********************************************************/
/*  MOBILE SPECIFIC CSS - IPHONE X SPECIFICALLY 375-812  */
/*              PORTRAIT AND LANDSCAPE                   */
/*********************************************************/

@media only screen
and (min-width: 375px)
and (max-width: 812px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

  /*  GENERAL CSS  */
  h1 {
    font-size: 2em !important;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.2em !important;
    line-height: 1.1;
  }

  h3 {
    font-size: 1em !important;
    line-height: 1.1;
  }

  p {
    font-size: 0.8em !important;
  }


  /*  LINKJS CSS  */
  a:link {
    font-size: 0.8rem !important;
  }


  /*  TITLE SECTION CSS  */
  #title-section .container-fluid {
    padding: 2% 7% 5%;
  }

  .logo-img {
    max-width: 200px;
    max-height: 42px;
  }

  .navbar-toggler {
    font-size: 1rem;
  }

  .btn-mob {
    max-width: 140px;
    font-size: 0.8rem;
  }

  .dropdown-menu {
    max-width: 300px;
  }

  .head-image {
    max-height: 148px;
    max-width: 167px;
  }


  /*  VIDEO CSS  */
  #vids {
    position: relative;
    background-color: #FFDAB9;
    text-align: center;
    padding: 2% 7% 2%;
  }


  .vids-img {
    max-width: 25%;
    position: absolute;
    right: 30%;
    top: -30%;
  }

  #vids h2 {
    font-size: 1.1rem !important;
  }

  .vid-mob-pad {
    padding-bottom: 5px;
  }


  /*  SLIDESHOW CSS  */

  .mob-mb-20px {
    margin-bottom: 20px;
  }

  #slideshow {
    padding: 0 5% 10%;
  }

  #slideshow h2 {
    margin-left: 10%;
    font-size: 1.1rem !important;
  }

  #slideshow em {
    font-size: 0.8em;
    line-height: 1.1;
  }

  .slideshow-img {
    margin-left: 10px;
    /*margin-right: 60px;*/
    max-width: 142px;
    max-height: 92px;
  }


  /*  PRICING CSS  */

  #pricing {
    text-align: center;
    padding: 7% 7%;
  }

  #pricing .btn-mob {
    margin-left: 40px;
  }

  .card {
    margin-left: 15px;
    margin-bottom: 5px;
    max-width: 250px;
  }

  .card-body-180 {
    height: 180px;
  }

}


@media only screen and (max-width: 200px) {
  /*  GENERAL CSS  */
  h1 {
    font-size: 2em !important;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.2em !important;
    line-height: 1.1;
  }

  h3 {
    font-size: 1em !important;
    line-height: 1.1;
  }

  p {
    font-size: 0.8em !important;
  }


  /*  LINKJS CSS  */
  a:link {
    font-size: 0.8rem !important;
  }

  /*  TITLE SECTION CSS  */
  #title-section .container-fluid {
    padding: 2% 7% 5%;
  }

  .btn-mob {
    max-width: 140px;
    font-size: 0.8rem;
  }

  .dropdown-menu {
    max-width: 265px;
  }

  .head-image {
    max-height: 148px;
    max-width: 167px;
  }

  /*  VIDEO CSS  */
  #vids {
    position: relative;
    background-color: #FFDAB9;
    text-align: center;
    padding: 2% 15% 2%;
  }


  .vids-img {
    max-width: 50%;
    position: absolute;
    right: 10%;
    top: 15%;
  }

  #vids h2 {
    font-size: 1.1rem !important;
  }

  .vid-mob-pad {
    padding-bottom: 5px;
  }


  /*  SLIDESHOW CSS  */

  .mob-mb-20px {
    margin-bottom: 20px;
  }

  #slideshow {
    padding: 0 5% 5%;
  }

  #slideshow h2 {
    margin-left: 10%;
    font-size: 1.1rem !important;
  }

  #slideshow em {
    font-size: 0.8em;
    line-height: 1.1;
  }

  .slideshow-img {
    margin-left: 10px;
    /*margin-right: 60px;*/
    max-width: 142px;
    max-height: 92px;
  }


  /*  PRICING CSS  */

  #pricing {
    text-align: center;
    padding: 7% 15%;
  }

  #pricing .btn-mob {
    margin-left: 40px;
  }

  .card {
    margin-left: 35px;
    margin-bottom: 5px;
    max-width: 250px;
  }

  .card-body-180 {
    height: 180px;
  }

}
